Servicios Rest (Net Core)/WSDLs/Param.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
  <xs:element name="GenerateIdentityCardTypeList">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateIdentityCardTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateIdentityCardTypeListResult" type="tns:ArrayOfQuoteParamIdentityCardClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfQuoteParamIdentityCardClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteParamIdentityCardClass" nillable="true" type="tns:QuoteParamIdentityCardClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuoteParamIdentityCardClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IdentityCardList" type="tns:ArrayOfIdentityCardTypeClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfIdentityCardTypeClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdentityCardTypeClass" nillable="true" type="tns:IdentityCardTypeClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentityCardTypeClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IdentityCardTypeId" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="SmallDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListAdressType">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateListAdressTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListAdressTypeResult" type="tns:ArrayOfParamAddressType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamAddressType" nillable="true" type="tns:ParamAddressType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamAddressType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="AddressTypeList" type="tns:ArrayOfAddressTypeClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfAddressTypeClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressTypeClass" nillable="true" type="tns:AddressTypeClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddressTypeClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AddressTypeCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListCompanyType">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateListCompanyTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListCompanyTypeResult" type="tns:ArrayOfParamCompanyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamCompanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamCompanyType" nillable="true" type="tns:ParamCompanyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamCompanyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyTypeClass" type="tns:ArrayOfCompanyTypeClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfCompanyTypeClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompanyTypeClass" nillable="true" type="tns:CompanyTypeClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyTypeClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CompanyTypeCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListDetail">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateListDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListDetailResult" type="tns:ArrayOfParamListDetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamListDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamListDetail" nillable="true" type="tns:ParamListDetail"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamListDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ListDetailList" type="tns:ArrayOfListDetailClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfListDetailClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListDetailClass" nillable="true" type="tns:ListDetailClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListDetailClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AccesoryCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListEconomicActivity">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateListEconomicActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListEconomicActivityResult" type="tns:ArrayOfParamEconomicActivity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamEconomicActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamEconomicActivity" nillable="true" type="tns:ParamEconomicActivity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamEconomicActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EconomicActivityClass" type="tns:ArrayOfEconomicActivityClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEconomicActivityClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EconomicActivityClass" nillable="true" type="tns:EconomicActivityClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EconomicActivityClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EconomicActivityCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="prefixCd" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateListProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListProductResult" type="tns:ArrayOfParamListProduct"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamListProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamListProduct" nillable="true" type="tns:ParamListProduct"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamListProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ListProductClass" type="tns:ArrayOfListProductClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfListProductClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListProductClass" nillable="true" type="tns:ListProductClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListProductClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PrefixCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="DescriptionPrefix" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="ProductCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="DescriptionProduct" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="GroupCoverageCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="DescriptionGroup" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateRatingZoneList">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateRatingZoneListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateRatingZoneListResult" type="tns:ArrayOfQuoteParamRatingZoneClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfQuoteParamRatingZoneClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteParamRatingZoneClass" nillable="true" type="tns:QuoteParamRatingZoneClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuoteParamRatingZoneClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="RatingZoneClass" type="tns:ArrayOfRatingZoneClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRatingZoneClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingZoneClass" nillable="true" type="tns:RatingZoneClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatingZoneClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RatingZoneCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="SmallDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="PrefixCode" type="xs:int"/>
      <xs:element minOccurs="1" maxOccurs="1" name="IsDefault" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateVehicleFasecolda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="fasecoldaCd" type="xs:string"/>
        <xs:element minOccurs="1" maxOccurs="1" name="yearVehicle" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateVehicleFasecoldaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateVehicleFasecoldaResult" type="tns:QuoteParamVehicleFasecoldaClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QuoteParamVehicleFasecoldaClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="VehicleFasecolda" type="tns:VehicleParameterDTO"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleParameterDTO">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="VehicleMakeCode" type="xs:int"/>
      <xs:element minOccurs="1" maxOccurs="1" name="VehicleModelCode" type="xs:int"/>
      <xs:element minOccurs="1" maxOccurs="1" name="VehicleVersionCode" type="xs:int"/>
      <xs:element minOccurs="1" maxOccurs="1" name="VehicleTypeCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="MakeDescription" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ModelDescription" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="VersionDescription" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="VehicleTypeDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="VehicleYear" type="xs:int"/>
      <xs:element minOccurs="1" maxOccurs="1" name="VehiclePrice" type="xs:decimal"/>
      <xs:element minOccurs="0" maxOccurs="1" name="FasecoldaMakeId" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="FasecoldaModelId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateVehiclesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="vehicleYearInit" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="vehicleYearEnd" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateVehiclesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateVehiclesListResult" type="tns:ArrayOfQuoteParamVehicleClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfQuoteParamVehicleClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuoteParamVehicleClass" nillable="true" type="tns:QuoteParamVehicleClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="QuoteParamVehicleClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="VehicleParameterDTOCo" type="tns:ArrayOfVehicleParameterDTO"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfVehicleParameterDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleParameterDTO" nillable="true" type="tns:VehicleParameterDTO"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenereteListPhoneType">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenereteListPhoneTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenereteListPhoneTypeResult" type="tns:ArrayOfPhoneTypeClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPhoneTypeClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhoneTypeClass" nillable="true" type="tns:PhoneTypeClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneTypeClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PhoneTypeCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="agentCode" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAgentResult" type="tns:AgentModel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AgentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="MotherLastName" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="IndividualTypeCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListAssistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="prefixCd" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="productCd" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAssistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetListAssistanceResult" type="tns:ArrayOfParamAssistanceClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamAssistanceClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamAssistanceClass" nillable="true" type="tns:ParamAssistanceClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamAssistanceClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ParamAssistance" type="tns:ArrayOfParamAssistance"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfParamAssistance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamAssistance" nillable="true" type="tns:ParamAssistance"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamAssistance">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PrefixCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="PrefixDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="AssitanceCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="AssistanceDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetListAssistanceCover">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="assistanceCd" type="xs:int"/>
        <xs:element minOccurs="1" maxOccurs="1" name="prefixCd" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListAssistanceCoverResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetListAssistanceCoverResult" type="tns:ArrayOfParamAssistanceCoverClass"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamAssistanceCoverClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamAssistanceCoverClass" nillable="true" type="tns:ParamAssistanceCoverClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamAssistanceCoverClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ParamAssistanceCover" type="tns:ParamAssistanceCover"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamAssistanceCover">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PrefixCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="PrefixDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="AssitanceCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="AssistanceDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="TextCode" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TextDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerateListCountryStateCity">
    <xs:complexType/>
  </xs:element>
  <xs:element name="GenerateListCountryStateCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GenerateListCountryStateCityResult" type="tns:ArrayOfParamListCountryStateCity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfParamListCountryStateCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParamListCountryStateCity" nillable="true" type="tns:ParamListCountryStateCity"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParamListCountryStateCity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ListCountryStateCityClass" type="tns:ArrayOfListCountryStateCityClass"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfListCountryStateCityClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListCountryStateCityClass" nillable="true" type="tns:ListCountryStateCityClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListCountryStateCityClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CountryCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CountryDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="StateCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="StateDescription" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="CityCd" type="xs:int"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CityDescription" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>