Servicios Rest (Net Core)/WSDLs/Param.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExternalParamServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="Param.xsd" namespace="http://tempuri.org/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExternalParamService_GenerateIdentityCardTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateIdentityCardTypeList"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateIdentityCardTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateIdentityCardTypeListResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListAdressType_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListAdressType"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListAdressType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListAdressTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListCompanyType_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListCompanyType"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListCompanyType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListCompanyTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListDetail"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListDetailResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListEconomicActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListEconomicActivity"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListEconomicActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListEconomicActivityResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListProduct"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListProductResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateRatingZoneList_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRatingZoneList"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateRatingZoneList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateRatingZoneListResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateVehicleFasecolda_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVehicleFasecolda"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateVehicleFasecolda_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVehicleFasecoldaResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateVehiclesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVehiclesList"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateVehiclesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateVehiclesListResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenereteListPhoneType_InputMessage">
    <wsdl:part name="parameters" element="tns:GenereteListPhoneType"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenereteListPhoneType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenereteListPhoneTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetAgent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgent"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetAgent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgentResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetListAssistance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAssistance"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetListAssistance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAssistanceResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetListAssistanceCover_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListAssistanceCover"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GetListAssistanceCover_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListAssistanceCoverResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListCountryStateCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListCountryStateCity"/>
  </wsdl:message>
  <wsdl:message name="IExternalParamService_GenerateListCountryStateCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateListCountryStateCityResponse"/>
  </wsdl:message>
  <wsdl:portType name="IExternalParamService">
    <wsdl:operation name="GenerateIdentityCardTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateIdentityCardTypeList" message="tns:IExternalParamService_GenerateIdentityCardTypeList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateIdentityCardTypeListResponse" message="tns:IExternalParamService_GenerateIdentityCardTypeList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListAdressType">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListAdressType" message="tns:IExternalParamService_GenerateListAdressType_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListAdressTypeResponse" message="tns:IExternalParamService_GenerateListAdressType_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCompanyType">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListCompanyType" message="tns:IExternalParamService_GenerateListCompanyType_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListCompanyTypeResponse" message="tns:IExternalParamService_GenerateListCompanyType_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListDetail" message="tns:IExternalParamService_GenerateListDetail_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListDetailResponse" message="tns:IExternalParamService_GenerateListDetail_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListEconomicActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListEconomicActivity" message="tns:IExternalParamService_GenerateListEconomicActivity_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListEconomicActivityResponse" message="tns:IExternalParamService_GenerateListEconomicActivity_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListProduct" message="tns:IExternalParamService_GenerateListProduct_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListProductResponse" message="tns:IExternalParamService_GenerateListProduct_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateRatingZoneList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateRatingZoneList" message="tns:IExternalParamService_GenerateRatingZoneList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateRatingZoneListResponse" message="tns:IExternalParamService_GenerateRatingZoneList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehicleFasecolda">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateVehicleFasecolda" message="tns:IExternalParamService_GenerateVehicleFasecolda_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateVehicleFasecoldaResponse" message="tns:IExternalParamService_GenerateVehicleFasecolda_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehiclesList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateVehiclesList" message="tns:IExternalParamService_GenerateVehiclesList_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateVehiclesListResponse" message="tns:IExternalParamService_GenerateVehiclesList_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenereteListPhoneType">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenereteListPhoneType" message="tns:IExternalParamService_GenereteListPhoneType_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenereteListPhoneTypeResponse" message="tns:IExternalParamService_GenereteListPhoneType_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GetAgent" message="tns:IExternalParamService_GetAgent_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GetAgentResponse" message="tns:IExternalParamService_GetAgent_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistance">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GetListAssistance" message="tns:IExternalParamService_GetListAssistance_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GetListAssistanceResponse" message="tns:IExternalParamService_GetListAssistance_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistanceCover">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GetListAssistanceCover" message="tns:IExternalParamService_GetListAssistanceCover_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GetListAssistanceCoverResponse" message="tns:IExternalParamService_GetListAssistanceCover_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCountryStateCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListCountryStateCity" message="tns:IExternalParamService_GenerateListCountryStateCity_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalParamService/GenerateListCountryStateCityResponse" message="tns:IExternalParamService_GenerateListCountryStateCity_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExternalParamService" type="tns:IExternalParamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerateIdentityCardTypeList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateIdentityCardTypeList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListAdressType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListAdressType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCompanyType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListCompanyType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListDetail">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListDetail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListEconomicActivity">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListEconomicActivity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListProduct">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRatingZoneList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateRatingZoneList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehicleFasecolda">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateVehicleFasecolda" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehiclesList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateVehiclesList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenereteListPhoneType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenereteListPhoneType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetAgent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistance">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetListAssistance" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistanceCover">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetListAssistanceCover" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCountryStateCity">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListCountryStateCity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IExternalParamService1" type="tns:IExternalParamService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GenerateIdentityCardTypeList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateIdentityCardTypeList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListAdressType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListAdressType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCompanyType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListCompanyType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListDetail">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListDetail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListEconomicActivity">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListEconomicActivity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListProduct">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListProduct" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateRatingZoneList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateRatingZoneList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehicleFasecolda">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateVehicleFasecolda" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateVehiclesList">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateVehiclesList" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenereteListPhoneType">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenereteListPhoneType" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgent">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetAgent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistance">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetListAssistance" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListAssistanceCover">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GetListAssistanceCover" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateListCountryStateCity">
      <soap:operation soapAction="http://tempuri.org/IExternalParamService/GenerateListCountryStateCity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalParamServices">
    <wsdl:port name="BasicHttpBinding_IExternalParamService" binding="tns:BasicHttpBinding_IExternalParamService">
      <soap:address location="http://localhost:4000/External/ExternalParamServices"/>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IExternalParamService1" binding="tns:BasicHttpBinding_IExternalParamService1">
      <soap:address location="http://localhost:4000/ExternalParamServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>