Servicios Rest (Net Core)/WSDLs/Policy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExternalIssuanceServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="PolicyIssuanceVehicle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="policyIssuanceVehicleRequest" type="tns:ExternalPolicyIssuanceVehicleRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ExternalPolicyIssuanceVehicleRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TempId" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentFrom" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PaymentScheduleCode" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Alliance" type="tns:ExternalAlliance"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsHolderInsured" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Holder" type="tns:ExternalHolder"/>
          <xs:element minOccurs="0" maxOccurs="1" name="RiskVehicle" type="tns:ExternalRiskVehicle"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalAlliance">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Code" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="BranchCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="SalePointCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ProposalNumber" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalHolder">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NaturalPerson" type="tns:ExternalNaturalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="tns:ExternalLegalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="tns:ExternalAddress"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:ExternalEmail"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:ExternalPhone"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsCommercialClient" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSms" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsMailAddress" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalNaturalPerson">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TypeCardCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="IdCardNo" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Surname" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="MotherLastName" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="MaritalStatusCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Gender" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="BirthDate" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EconomicActivityCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="NationalityCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalLegalPerson">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TributaryTypeCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="TributaryIdNo" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="TradeName" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyTypeCode" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalAddress">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CountryCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="StateCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CityCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalEmail">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalPhone">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Number" type="xs:long"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalRiskVehicle">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="LicensePlate" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="EngineSerialNumber" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ChassisSerialNumber" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Insured" type="tns:ExternalInsured"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsInsuredBeneficiary" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ListBeneficiary" type="tns:ArrayOfExternalBeneficiary"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ListAccesory" type="tns:ArrayOfExternalAccesory"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Observations" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalInsured">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="NaturalPerson" type="tns:ExternalNaturalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="tns:ExternalLegalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="tns:ExternalAddress"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:ExternalEmail"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:ExternalPhone"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsCommercialClient" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsSms" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsMailAddress" nillable="true" type="xs:boolean"/>
          <xs:element minOccurs="1" maxOccurs="1" name="WorkerTypeCode" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfExternalBeneficiary">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalBeneficiary" nillable="true" type="tns:ExternalBeneficiary"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalBeneficiary">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="TypeCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="NaturalPerson" type="tns:ExternalNaturalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LegalPerson" type="tns:ExternalLegalPerson"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Address" type="tns:ExternalAddress"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Email" type="tns:ExternalEmail"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:ExternalPhone"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ParticipationPct" type="xs:decimal"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfExternalAccesory">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalAccesory" nillable="true" type="tns:ExternalAccesory"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExternalAccesory">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DetailCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="MakeDescription" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ModelDescription" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsOriginal" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PolicyIssuanceVehicleResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="PolicyIssuanceVehicleResult" type="tns:ExternalPolicyIssuanceVehicleResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ExternalPolicyIssuanceVehicleResult">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="PolicyNumber" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="BranchCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PrefixCode" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EndorsementNumber" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ProductId" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentFrom" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentTo" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LicensePlate" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LimitRcSum" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VehiclePrice" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VehiclePriceDetail" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PremiumAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="AssistanceAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ExpensesAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TotalPremiumAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ProcessMessage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PolicyRenewal">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="policyRenewalRequest" type="tns:PolicyRenewalRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="PolicyRenewalRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="BranchCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PrefixCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="xs:long"/>
          <xs:element minOccurs="0" maxOccurs="1" name="AccountName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PolicyRenewalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="PolicyRenewalResult" type="tns:ResponsePolicyRenewal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ResponsePolicyRenewal">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="State" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="HasEvents" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfEvent"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TempId" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="BranchCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PrefixCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EndorsementNumber" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="InsuredAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PremiumAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ExpensesAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IsBenfeficiaryOneroso" type="xs:boolean"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Event">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="EventId" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="EventDescription" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PolicyRenewalByAlliance">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="policyRenewalByAllianceRequest" type="tns:PolicyRenewalByAllianceRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="PolicyRenewalByAllianceRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="AgentCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="AgentTypeCd" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="AllianceCode" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ProposalNumber" type="xs:string"/>
          <xs:element minOccurs="0" maxOccurs="1" name="AccountName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="PolicyRenewalByAllianceResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="PolicyRenewalByAllianceResult" type="tns:ResponsePolicyRenewal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FirmRenewalPolicy">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="TempId" nillable="true" type="xs:int"/>
            <xs:element minOccurs="1" maxOccurs="1" name="BranchId" nillable="true" type="xs:int"/>
            <xs:element minOccurs="1" maxOccurs="1" name="PrefixNum" nillable="true" type="xs:int"/>
            <xs:element minOccurs="1" maxOccurs="1" name="DocumentNumber" nillable="true" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FirmRenewalPolicyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="FirmRenewalPolicyResult" type="tns:ResponseFirmRenewalPolicy"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ResponseFirmRenewalPolicy">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="xs:long"/>
          <xs:element minOccurs="1" maxOccurs="1" name="BranchId" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PrefixNum" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="EndorsementNumber" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ProductId" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentFrom" type="xs:dateTime"/>
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentTo" type="xs:dateTime"/>
          <xs:element minOccurs="0" maxOccurs="1" name="LicensePlate" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="LimitRcSum" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VehiclePrice" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="VehiclePriceDetail" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="PremiumAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="AssistanceAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="ExpensesAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TaxAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="TotalPremiumAmount" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Status" type="xs:int"/>
          <xs:element minOccurs="0" maxOccurs="1" name="ResultRenewal" type="xs:string"/>
          <xs:element minOccurs="1" maxOccurs="1" name="HasEvents" type="xs:boolean"/>
          <xs:element minOccurs="0" maxOccurs="1" name="Events" type="tns:ArrayOfEvent"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AuthorizationPolicies">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="tempId" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AuthorizationPoliciesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="AuthorizationPoliciesResult" type="tns:ResponseAuthorizationPolicies"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ResponseAuthorizationPolicies">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="Number" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="DocumentNumber" type="xs:decimal"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IdPrefix" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="IdBranch" type="xs:int"/>
          <xs:element minOccurs="1" maxOccurs="1" name="UserId" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CreateEndorsementFromJson">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="listCompanyVehicleLikeJson" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateEndorsementFromJsonResponse">
        <xs:complexType/>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IExternalIssuanceServices_PolicyIssuanceVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyIssuanceVehicle"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_PolicyIssuanceVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyIssuanceVehicleResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_PolicyRenewal_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRenewal"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_PolicyRenewal_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRenewalResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_PolicyRenewalByAlliance_InputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRenewalByAlliance"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_PolicyRenewalByAlliance_OutputMessage">
    <wsdl:part name="parameters" element="tns:PolicyRenewalByAllianceResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_FirmRenewalPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:FirmRenewalPolicy"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_FirmRenewalPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:FirmRenewalPolicyResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_AuthorizationPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationPolicies"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_AuthorizationPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizationPoliciesResponse"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_CreateEndorsementFromJson_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEndorsementFromJson"/>
  </wsdl:message>
  <wsdl:message name="IExternalIssuanceServices_CreateEndorsementFromJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEndorsementFromJsonResponse"/>
  </wsdl:message>
  <wsdl:portType name="IExternalIssuanceServices">
    <wsdl:operation name="PolicyIssuanceVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyIssuanceVehicle" message="tns:IExternalIssuanceServices_PolicyIssuanceVehicle_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyIssuanceVehicleResponse" message="tns:IExternalIssuanceServices_PolicyIssuanceVehicle_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyRenewal" message="tns:IExternalIssuanceServices_PolicyRenewal_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyRenewalResponse" message="tns:IExternalIssuanceServices_PolicyRenewal_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewalByAlliance">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyRenewalByAlliance" message="tns:IExternalIssuanceServices_PolicyRenewalByAlliance_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/PolicyRenewalByAllianceResponse" message="tns:IExternalIssuanceServices_PolicyRenewalByAlliance_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="FirmRenewalPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/FirmRenewalPolicy" message="tns:IExternalIssuanceServices_FirmRenewalPolicy_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/FirmRenewalPolicyResponse" message="tns:IExternalIssuanceServices_FirmRenewalPolicy_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AuthorizationPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/AuthorizationPolicies" message="tns:IExternalIssuanceServices_AuthorizationPolicies_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/AuthorizationPoliciesResponse" message="tns:IExternalIssuanceServices_AuthorizationPolicies_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateEndorsementFromJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IExternalIssuanceServices/CreateEndorsementFromJson" message="tns:IExternalIssuanceServices_CreateEndorsementFromJson_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IExternalIssuanceServices/CreateEndorsementFromJsonResponse" message="tns:IExternalIssuanceServices_CreateEndorsementFromJson_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExternalIssuanceServices" type="tns:IExternalIssuanceServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PolicyIssuanceVehicle">
      <soap:operation soapAction="http://tempuri.org/IExternalIssuanceServices/PolicyIssuanceVehicle" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IExternalIssuanceServices1" type="tns:IExternalIssuanceServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PolicyIssuanceVehicle">
      <soap:operation soapAction="http://tempuri.org/IExternalIssuanceServices/PolicyIssuanceVehicle" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalIssuanceServices">
    <wsdl:port name="BasicHttpBinding_IExternalIssuanceServices" binding="tns:BasicHttpBinding_IExternalIssuanceServices">
      <soap:address location="http://localhost:4000/External/ExternalIssuanceServices"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>